body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}
.container {
    width: 100%;
    font-size: 16px;
}
ul {
    padding: 0;
}
/* HEADER */
header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 1.5em;
    text-transform: uppercase;
    margin-left: 80px;
    color: black;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    top: 30px;
    text-align: center;
    min-width: 80px;
    box-shadow: 0px 4px 2px 1px rgba(0,0,0,0.2);
}
.dropdown-content a {
    padding: 15px 15px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: rgb(221, 221, 221)
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropbtn i {
    font-size: 1.2em;
    color: #8B8B8B;
    position: absolute;
    top:2px;
    right: -14px;
}
.menu {
    margin-right: 80px;
}
.menu ul {
    list-style: none;
}
.menu ul li {
    display: inline;
    margin-left: 20px;
}
.menu ul li a {
    color: #8B8B8B;
    text-decoration: none;
}
.menuPhone {
    display: none;
}
/* SECTION DEMO */
.demo {
    width: 100%;
    height: 600px;
    background:rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #525252;
}
.demoContentWrapper {
    text-align: center;
    text-transform: uppercase;
}
.title {
    font-size: 2em;
    
}
.description {
    font-size: 1.3em;
    margin: 40px 0;
}
#button {
    padding: 13px 30px;
    border: none;
    box-shadow: 2px 1px 11px 0px a5a5a5;
    background: #363636;
    color:white;
    text-decoration: none;
}
/* SECTION INFO */
.info {
    width: 96%;
    height: 500px;
    padding:0 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.infoBox {
    width: 20%;
    height: 180px;
    background: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 5px 13px 1px #b7b3b3;
}
.iBoxContent {
    text-align: center;
    color: white;
}
.red {
    background: #FF384D;
}
.violet {
    background: #B500AD;
}
.lightBlue {
    background: #00D1AE;
}
.blue {
    background: #1A89D6;
}
.iBoxOne {
    font-size: 2.5em;
}
.iBoxTwo {
    font-size: 1.1em;
}
/* SECTION THEMES  */
.theme {
    width: 100%;
    background: rgb(238, 238, 238);
    text-align: center;
   padding-bottom: 80px;
}
.themeTitle {
    text-transform: uppercase; 
    margin: 80px 0 20px 0;
    display: inline-block;
    font-size: 1.8em;
    color: rgb(82, 81, 81);
    font-weight: 600;
}
.themeButtons ul {
    list-style: none;
    padding: 0;
}
.themeButtons ul li {
    display: inline;
    margin-left: 5px;
}
.themeButtons ul li a{
    text-decoration: none;
    padding: 10px 25px;
    background: rgb(223, 223, 223);
    color: #8B8B8B;
    border-radius: 2px;
    box-shadow: 0px 1px 4px 0px grey;
}
.themeButtons ul li a:hover {
    color: white;
    background: black;
border: none;
}
.themeContent {
    width: 70%;
    height: 800px;
    margin: 100px auto 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}
.themeBox {
    width: 28%;
    height: 300px;
    box-shadow: 0px 1px 7px 2px rgb(160, 160, 160);
    overflow: hidden;
}
.themeBox:hover {
    border: 1px solid black;
    width: calc(28% - 2px);
    height: calc(300px - 2px);
    cursor: pointer;
}
.themeBox:hover .pic1 {
    transform: scale(1.1);
    transition: 1s ease-out;
}
.themeBox:hover .pic2 {
    transform: scale(1.1);
    transition: 1s ease-out;
}
.themeBox:hover .pic3 {
    transform: scale(1.1);
    transition: 1s ease-out;
}
.boxBG {
    height: 80%;
    width: 100%;
}
.boxName {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background: white;
    color: rgb(82, 81, 81);
}
.themeBoxOver {
    overflow: hidden;
}
.pic1 {
    background-image: url("img/page1.png");
    background-size: 100%;
}
.pic2 {
    background-image: url("img/page-2.png");
}
.pic3 {
    background-image: url("img/page-3.png");
}
/* SECTION FEATURES */
.feature {
    width: 100%;
    text-align: center;
}
.featureTitle {
font-size: 1.8em;
margin: 70px 0 30px 0;
text-transform: uppercase;
}
.featureSubtitle {
    font-size: 1em;
    margin-bottom: 40px;
    letter-spacing: -1px;
}
.middleLine {
    width: 100px;
    height: 2px;
    background: rgb(238, 238, 238);
    margin: 0 auto;
}
.featureList {
    width: 80%;
    text-align: left;
    margin: 0 auto 50px auto;
}
.featureList ul {
    list-style: none;
    column-count: 3;
    text-transform: uppercase;
    line-height: 70px;
}
.featureList ul li img {
    width: 20px;
    height: 10px;
    margin-right: 5px;
}
/* FOOTER */
.footer {
    text-align: center;
    text-transform: uppercase;
    background: #484848;
    padding-top: 50px;
}
.footerTitle {
    color: #F2F2F2;
    font-size: 1.5em;
}
.footerSocial ul {
    padding: 0;
}
.footerSocial ul li {
    display: inline;
}
.footerSocial ul li a{
text-decoration: none;
}
.footerSocial ul li a i {
    font-size: 1.5em;
    color: #F2F2F2;
    margin: 10px;
}
.footerC {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 30px;
    background: black;
    color: #484848;
}
.copy {
    margin-left: 30px;
    text-transform: none;
}
.created {
    margin-right: 30px;
    text-transform: none;
}
span {
    color: white;
}
/* TABLET */
@media only screen and (max-width: 768px) {
    /* HEADER */
    header {
        flex-wrap: wrap;
        height: 130px;
    }
    .logo {
        margin-left: 20px;
        color: #8B8B8B;
        width: 40%;
        margin-top: 20px;
    }
    .menu {
        margin-right: 20px;
        margin-left: auto;
    }
    /* DEMO */
    .demoContentWrapper {
        width: 80%;
    }
    .title {
        font-size: 2.9em;
        
    }
    .description {
        font-size: 1em;
        margin: 40px 0;
        
    }
    #button {
        padding: 10px 30px;
    }
    /* THEME */
    .theme {
        padding-bottom: 30px;
    }
    .themeContent {
        width: 88%;
        height: 800px;
        margin: 80px auto 0 auto;
    }
    .themeBox {
        width: 40%;
        height: 200px;
    }
    .themeBox:hover {
        width: calc(40% - 2px);
        height: calc(200px - 2px);
    }
    /* FEATURE */
    .featureSubtitle {
        font-size: 1em;
    }
    .featureList ul {
        column-count: 2;
        font-size: 0.9em;
        line-height: 40px;
        margin-bottom: 50px;
    }
    /* FOOTER */
    .footer {
        padding-top: 40px;
    }
    .footerTitle {
        margin-bottom: 40px;
    }
}
/* PHONE */
@media only screen and (max-width: 425px) {
    header {
        height: 80px;
    }
    .logo {
        margin: 0 0 0 20px;
    }
    .menu {
        display: none;
    }
    .menuPhone {
        width: 30px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 30px;
    }
    .menuLine {
        width: 30px;
        height: 4px;
        background: black;
    }
    .demo {
        height: 400px;
    }
    .title {
        font-size: 2em;
    }
    .info {
        flex-wrap: wrap;
        height: 900px;
    }
    .infoBox {
        width: 55%;
    }
    .red {
        margin-top: 30px;
    }
    .blue {
        margin-bottom: 30px;
    }
    /* THEME */
    .theme {
        padding-bottom: 30px;
    }
    .themeContent {
        height: 1800px;
    }
    .themeBox {
        flex-basis: 80%;
        height: 250px;
    }
    .themeBox:hover {
        width: calc(80% - 2px);
        height: calc(250px - 2px);
    }
    .themeButtons ul li a  {
        font-size: 0.8em;
        padding: 10px 13px;
        margin: 0 4px 0 4px;
    }
    .themeTitle {
        margin: 80px 0 25px 0;
        font-size: 2em;
    }
    /* FEATURE */
    .featureTitle {
        font-size: 1.5em;
        margin: 60px 0 30px 0 ;
    }
    .featureSubtitle {
        font-size: 0.8em;
        margin-bottom: 20px;
    }
    .featureList {
        width: 90%;
    }
    .featureList ul {
        font-size: 0.7em;
        line-height: 30px;
    }
    .featureList ul li img {
        width: 15px;
    }
    /* FOOTER */
    .footer {
        padding-top: 40px;
    }
    .footerTitle {
        margin-bottom: 10px;
    }
    .footerSocial ul li a i {
        font-size: 1em;
        margin: 5px;
    }
    .copy, .created {
        margin: 0;
        font-size: 0.6em;
    }
}

